POSTGRES_HOST = postgres
POSTGRES_USER = postgres
POSTGRES_PASSWORD = averystrongpassword
POSTGRES_DB = postgres

REDIS_HOST = redis
REDIS_PORT = 6379

# Discord
DISCORD_TOKEN = 
DISCORD_CLIENT_ID = 
DISCORD_DEV_GUILD = 

# Web
AUTH_SECRET = 
AUTH_CLIENT_ID = 
ISSUER_BASE_URL = 
